.sampath-theme{
    color: $sampath-theme !important;
    fill: $sampath-theme !important;
}

.boc-theme{
    color: $boc-theme !important;
    fill: $boc-theme !important;
}

.hnb-theme{
    color: $hnb-theme !important;
    fill: $hnb-theme !important;
}

.admin-theme{
    color: #fff !important;
    fill: #fff !important;
}