.header-action{
    height: auto;
}

.header-action-btn{
    display: inline-block;
    margin: 1em;
    font-weight: 600;
    color: #a0a0a0;
    padding: 6px;
    font-size: 0.9em;
    margin-left: 3em;

    &.active{
        color: #5a5a5a;
        box-shadow: 0px 2px 0px 0px #5a5a5a;
    }

    &:hover{
        color: #5a5a5a;
        cursor: pointer;
    }
}

.header_action_boc{
    background: $boc-theme !important;
}
.header_action_sampath{
    background: $sampath-theme !important;
}
.header_action_hnb{
    background: $hnb-theme !important;
}
.header_action_admin{
    background: $admin-theme !important;
}